body {
    font-family: "Fira Code", monospace;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #ebdbb2;
    background-color: #282828;
}

#main {
    max-width: 65%;
    margin-top: 40px;
}
