body {
    font-family: "Fira Code", monospace;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #ebdbb2;
    background-color: #282828;
}

#main {
    max-width: 65%;
    margin-top: 0px;
}

#list {
    background-color: #32302f;
    border-radius: 10px;
    text-align: left;
    margin: auto;
    width: 70%;
    padding: 10px 10px;
}

.box {
    background-color: #32302f;
    border-color: #ebdbb2;
    border-width: 2px;
    border-radius: 7px;
    text-align: left;
    justify-content: left;
    width: 95%;
    padding: 3px 3px;
}

#term {
    margin: 10px 10px;
    font-family: "Fira Code", monospace;
}

li {
    margin: 7px 0;
}

hr {
    background-color: #ebdbb2;
}

a:link {
    color: #458588;
    text-decoration: none;
}
a:visited {
    color: #b16286;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#buttons {
    margin: 0px;
    font-size: 40px;
}
